
<div class = "content-fluid">
	<!-- <div>
		<div class="input-group ">
			<div class="input-group-prepend">
				
				<button class="btn btn-outline-secondary" type="button">Semester</button>

				<select class="custom-select" id="inputSemester">
					<option selected>Choose semester..</option>
					<div >
					<option  ng-repeat="semester in model.semesters" value=semester.name>{{semester.name}}</option>
					</div>
					
					
				</select>
				<button type="button" class="btn btn-success"
					ng-click="model.findCourseBySem(semester.id)">Search
					Course</button>

			</div>


		</div>
	</div> -->


	<ul class="nav nav-tabs">
	  <li class="nav-item">
	    <a ng-click="model.usersT = true; semesters = false; courses = false" class="nav-link active" >Users</a>
	  </li>
	  <li class="nav-item">
	    <a ng-click="model.usersT = false; semesters = true; courses = false" class="nav-link" >Semesters</a>
	  </li>
	  <li class="nav-item">
	    <a ng-click="model.usersT = false; semesters = false; courses = true" class="nav-link" >Courses</a>
	  </li>
	</ul>
<div class="panel-body" ng-if="model.usersT">
		<div>
			<a style="cursor: pointer" href="#!/register">
				<button type="button" class="btn btn-success">Add New User</button>
			</a>
		</div>
		<br />
		<table
			class="table table-bordered bordered table-striped table-condensed"
			ui-jq=”datatable” ui-options=”options”>
			<thead>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Type</th>
				<th>Action</th>
			</thead>
			<tbody>
				<tr ng-repeat="row in model.users"
					style="background-color: #EDEBEB; padding: 10px;">
					<!-- <td>{{row.id}}</td> -->
					<td>{{row.firstName}}</td>
					<td>{{row.lastName}}</td>
					<td>{{row.type == 0 ? 'Student':'Professor'}}</td>
					<td><a style="cursor: pointer"><span
							ng-click="model.changeRole(row.id, row.type)"
							class="glyphicon glyphicon glyphicon-edit"> </span></a> &nbsp; <a
						style="cursor: pointer"
						href="#!/admin/profileUpdate/{{row.id}}/{{row.type}}"><span
							class="glyphicon glyphicon glyphicon-pencil"></span></a>&nbsp; <a
						style="cursor: pointer"><span
							class="glyphicon glyphicon glyphicon-remove"
							ng-click="model.deleteUser(row.id,row.type)"></span></a>&nbsp;</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="panel-body" ng-if="semesters">
		<div>
			<a style="cursor: pointer" href="#!/admin/addSemester">
				<button type="button" class="btn btn-success">Add New
					Semesters</button>
			</a>
		</div>
		<br />
		<table
			class="table table-bordered bordered table-striped table-condensed"
			ui-jq=”datatable” ui-options=”options”>
			<thead>
				<th>Name</th>
				<th>Action</th>
			</thead>
			<tbody>
				<tr ng-repeat="row in model.semesters"
					style="background-color: #EDEBEB; padding: 10px;">
					<td>{{row.name}}</td>
					<td><a style="cursor: pointer"
						href="#!/admin/semesterUpdate/{{row.id}}"><span
							class="glyphicon glyphicon glyphicon-pencil"></span></a>&nbsp; <a
						style="cursor: pointer"><span
							class="glyphicon glyphicon glyphicon-remove"
							ng-click="model.deleteSemester(row.id)"></span></a>&nbsp;</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="panel-body" ng-if="courses">
		<div>
			<a style="cursor: pointer" href="#!/admin/addCourse">
				<button type="button" class="btn btn-success">Add New
					Course</button>
			</a>
		</div>
		<br />
		<table
			class="table table-bordered bordered table-striped table-condensed"
			ui-jq=”datatable” ui-options=”options”>
			<thead>
				<th>Name</th>
				<th>Action</th>
			</thead>
			<tbody>
				<tr ng-repeat="row in model.courses"
					style="background-color: #EDEBEB; padding: 10px;">
					<td>{{row.name}}</td>
					<td><a style="cursor: pointer"
						href="#!/admin/courseUpdate/{{row.id}}"><span
							class="glyphicon glyphicon glyphicon-pencil"></span></a>&nbsp; <a
						style="cursor: pointer"><span
							class="glyphicon glyphicon glyphicon-remove"
							ng-click="model.deleteCourse(row.id)"></span></a>&nbsp;</td>
				</tr>
			</tbody>
		</table>
	</div>


		<!-- <div style='float: left;'>

				<ul class="list-group col-xs-4">
					<label>Users</label>
					<li class="list-group-item" ng-repeat="user in model.users">
						<div class="text-center">
							{{user.type == 0 ? 'Student':'Professor'}} <span> <a
								
								style="cursor: pointer"> <span
									class="glyphicon glyphicon glyphicon-edit" ng-click="model.changeRole(user.id, user.type)"> </span></a>
								{{user.firstName}} {{user.lastName}}
							</span> <span class="pull-right"> ng-click="model.updateUsers()"
								<a style="cursor: pointer"
								href="#!/admin/profileUpdate/{{user.id}}/{{user.type}}"> <span
									class="glyphicon glyphicon glyphicon-pencil"></span>
							</a>
							</span> <span class="pull-right"> <a style="cursor: pointer">
									<span class="glyphicon glyphicon glyphicon-remove"
									ng-click="model.deleteUser(user.id,user.type)"></span>
							</a>
							</span>

						</div>
					</li>
				</ul>




				<ul class="list-group col-xs-4">
					<label>Semester</label>
					<li class="list-group-item" ng-repeat="semester in model.semesters">
						<div class="text-center">
							{{semester.name}} <span><span class="pull-right"> <a
									style="cursor: pointer"
									href="#!/admin/semesterUpdate/{{semester.id}}"> <span
										class="glyphicon glyphicon glyphicon-pencil"></span>
								</a>
							</span> <span class="pull-right"> <a style="cursor: pointer">
										<span class="glyphicon glyphicon glyphicon-remove"
										ng-click="model.deleteSemester(semester.id)"></span>
								</a>
							</span> </span>
						</div>
					</li>
				</ul>

				<ul class="list-group col-xs-4">
					<label>courses</label>
					<li class="list-group-item" ng-repeat="course in model.courses">
						<div class="text-center">
							{{course.name}} <span> <span class="pull-right"> ng-click="model.updateCourses()"
									<a style="cursor: pointer"
									href="#!/admin/courseUpdate/{{course.id}}"> <span
										class="glyphicon glyphicon glyphicon-pencil"></span>
								</a>
							</span> <span class="pull-right"> <a style="cursor: pointer">
										<span class="glyphicon glyphicon glyphicon-remove"
										ng-click="model.deleteCourse(course.id)"></span>
								</a>
							</span>
							</span>
						</div>
					</li>
				</ul>

			</div> -->
		<!-- <div style='float: right; width: 20%;' align="right">

				<div>
					<a style="cursor: pointer" href="#!/admin/addSemester ">
						<button type="button" class="btn btn-info">Add Semester</button>
					</a>
				</div>
				<div>
					<a style="cursor: pointer" href="#!/admin/addCourse ">
						<button type="button" class="btn btn-info">Add Course</button>
					</a>
				</div>

				<div>
					<a style="cursor: pointer" href="#!/register">
						<button type="button" class="btn btn-primary">Add User</button>
					</a>
				</div>


			</div> -->
	
</div>