<div class="container-fluid">
    <div class="col-lg-4 col-md-4 col-sm-6">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="sems in model.semesters">
                <div class="text-center">
                    {{sems.name}}
                    <span class="pull-right">
                        <a ng-click="model.fetchCourses(sems.id)" style="cursor: pointer">
                            <span class="glyphicon glyphicon glyphicon-chevron-right "></span>
                        </a>
                    </span>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="course in model.courses">
                <div class="text-center">
                    {{course.name}}
                    <span class="pull-right">
                        <a ng-click="model.fetchAssignments(course.id)" style="cursor: pointer">
                            <span class="glyphicon glyphicon glyphicon-chevron-right "></span>
                        </a>
                    </span>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="assignment in model.assignments">
                <div class="text-center">
                    {{assignment.name}}
                    <span class="pull-right">
                        <a ng-click="model.fetchAssignments(assignment.id)" style="cursor: pointer">
                            <span class="glyphicon glyphicon glyphicon-chevron-right "></span>
                        </a>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>