<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h2 class="modal-title text-center">Add Course</h2>
</div>
<div class="modal-body">

    <div class="container-fluid row">

        <h3 class="text-center">Details</h3>
        <form>
            <div class="">

                <div class="form-group">
                    <label class="register-label" for="assignmentName">Course Name</label>
                    <input name="assignmentName" required class="form-control" ng-model="model.newCourse.name" type="text" placeholder=" Name"/>
                </div>
                <div ng-show="form.$submitted || form.assignmentName.$touched"
                     class="">
                    <div ng-show="form.assignmentName.$error.required" class="alert" style="color: whitesmoke">
                        Please choose name for Course
                    </div>
                </div>

                <!--<input class="input-sm" type="text" name="cid" value="{{model.newCourse.sid}}" hidden="true">-->

                <div class="form-group" style="padding-top: 2%">
                    <button ng-click="model.pushCourse(model.newCourse)" type="button" class="btn btn-primary col-md-12 col-sm-12 col-xs-12">Add</button>
                </div>

            </div>
        </form>
    </div>
</div>