
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-lg-2">
            <nav class="navbar navbar-fixed-side">
                <!-- normal collapsible navbar markup -->
                <div class="col-md-12" style="padding-top: 5%">
                    <center>
                        <span style="font-size:8em;" class="glyphicon glyphicon-user user-gly"></span>
                        
                </div>

                <ul class="user-menu list-unstyled" >
                    <li class="user-menu">
                        <button type="button" class="btn btn-outline btn-primary btn-lg btn-block user-button"
                                ng-click="model.showDashboard()" style="padding:15px; padding-right:20px;">
                            <span class="glyphicon glyphicon-dashboard user-action-gly"></span>
                            &nbsp;Dashboard</button>
                    </li>

                    <li class="user-menu">
                        <button ng-click="model.loadAllcourses()" data-toggle="modal" data-target="#myModal" type="button" 
                        class="btn btn-outline btn-primary btn-lg btn-block user-button" style="padding:15px; padding-right:20px;">
                            <span class="glyphicon glyphicon-user user-action-gly"></span>
                            &nbsp;Add Courses</button>
                    </li>

                </ul>
            </nav>
        </div>
        <div class="col-sm-12 col-lg-10">
            <!-- your page content -->



            <div class="col-md-12 user-view-block pre-scrollable" >
                <!--The Panels to show-->

                <div ng-switch="model.loadProfileEditdiv">
                    <div ng-switch-default>
                        <!--<ng-include src="'views/user/templates/admin-dashboard-comp.view.client.html'"></ng-include>-->
                        <div ng-repeat="course in model.courses">
                            <div class="col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading" style="background-color:#659DBD">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <center>
                                                    <i class="fa fa-book fa-5x"></i>
                                                </center>
                                            </div>

                                            <div class="col-md-9">
                                                <div class="data-numbers">{{course.name}}</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-footer" style="background-color: #BC986A;color: white;">
                                        <center>
                                     <a href="#!/student/{{model.studentId}}/course/{{course.id}}"style="cursor: pointer; color: inherit;">
                                            <h4>Fetch Assignments
                                                <span class="pull-right">
                                        <span class="glyphicon glyphicon glyphicon-chevron-right "></span>
                                     </a>
                                </span></h4>

                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="ASSIGNMENTS">
                        <!--<ng-include src="'views/user/templates/allUserShow-Admin.view.client.html'"></ng-include>-->
                        <div ng-repeat="assignment in model.assignments">
                            <div class="col-md-5">
                                <div class="panel panel-primary">
                                    <div class="panel-heading" style="background-color:#659DBD">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <center>
                                                    <i class="fa fa-book fa-5x"></i>
                                                </center>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="data-numbers">{{assignment.name}}</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-footer" style="background-color: #BC986A;color: white;">
                                      <a href="#!/student/{{model.studentId}}/course/{{model.courseID}}/assignment/{{assignment.id}}"
                                       style="cursor: pointer; color: inherit;">  
                                        <center>
                                            <h4>Upload Assignment
                                                <span class="pull-right">
                                    
                                        <span class="glyphicon glyphicon glyphicon-chevron-right "></span>
                                    </a>
                                </span></h4>

                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="VERSIONS">
                        <!--<ng-include src="'views/user/templates/profile-settings.view.client.html'"></ng-include>-->
                        <div ng-repeat="version in model.assignemntVersions">
                            <div class="col-md-5">
                                <div class="panel panel-primary">
                                    <div class="panel-heading" style="background-color:#659DBD">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <center>
                                                    <i class="fa fa-book fa-5x"></i>
                                                </center>
                                            </div>

                                            <div class="col-md-6">

                                                <div class="data-numbers">
                                                    <span>Submission - {{version.id}}</span>
                                                 </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-footer" style="background-color: #BC986A;color: white;">
                                      <a ng-click="model.fetchAssignmentsVersions(assignment.id);model.loadProfileEditdiv='VERSIONS'" style="cursor: pointer; color: inherit;">
                                        <center>
                                            <h4>View Submission
                                                <span class="pull-right">
                                        <span class="glyphicon glyphicon glyphicon-chevron-right "></span>
                                    </a>
                                </span></h4>

                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="panel panel-primary">
                                <div class="panel-heading" style="background-color:black">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <center>
                                                <i class="fa fa-plus fa-5x"></i>
                                            </center>
                                        </div>

                                        <div class="col-md-6">

                                            <div class="data-numbers">
                                                <span> New Submission</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-footer"
                                     style="background-color: black;color: white;">
                                    <center>
                                       <a href="#!/main/{{model.studentId}}/{{model.currentAssignmentID}}/{{model.currentVersion}}" style="cursor: pointer">
                                    
                                        <h4>Click for Upload
                                            <span class="pull-right">
                                    
                                    		<span class="glyphicon glyphicon glyphicon-chevron-right "></span>
                                    
                                </span></a></h4>

                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="EDITCOMMENTS">
                        <!--<ng-include src="'views/user/templates/user-comments.view.client.html'"></ng-include>-->
                    </div>
                </div>




               





            </div>
        </div>
    </div>

    <button id="myButton" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="visibility: hidden;"></button>

    <div id="myModal" class="modal fade" role="dialog">
       <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color:#659DBD; font-weight:bold;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">List of courses to select</h4>
                </div>
                <div class="modal-body" style="background-color:#DAAD86;">
                    <ul class="list-group list-unstyled" ng-repeat="course in model.allCourses" >
                        <li class="list-group-item" style="background-color:#FBEEC1;">
                            <div >
                                {{course.name}}
                                <span class="pull-right">
                                    <a ng-click="model.addCourseToStudent(course.id, model.studentId)">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- <div class="modal-footer">
                    <button id="modalCloseBtn" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div> -->
            </div>
		</div>
       </div>
    </div>

</div>

